{
    "plugins": ["@babel/plugin-proposal-class-properties"]
    // "presets": [
    //     "es2015"
    // ]
    
    // "presets": [
    //     [
    //     "@babel/preset-env"
    //     ]
    // ]
      
}